<!DOCTYPE html>
<html>
<head>
<meta name="application-name" content="Cell editor">
<meta name="description" content="Cell editor">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--HTML4 charset def-->
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!--HTML5 charset def-->
<meta charset="UTF-8">
<!-- <link rel="icon" href="/assets/icon.ico" type="image/x-icon"> -->
<title>ME</title>
</head>
<body>
<div id="root">
  <article id="input-box" contentEditable spellcheck="false"></article>
  <article id="output-box" class="markdown-body"></article>
  <section class="mobile-helper">
    <button id="write-btn" class="mobile-helper-btn">Write</button>
    <button id="preview-btn" class="mobile-helper-btn">Preview</button>
  </section>
  
</div>
</body>
</html>